---
layout: layouts/base
---

<div class="container">
  <div class="content">
    <div class="realisation-header">
      <h1>{{ title }}</h1>
      {% if location %}<p class="realisation-location">{{ location }}</p>{% endif %}
      {% if tags %}
        <p class="realisation-tags">
          {% for tag in tags %}
            {% if tag != "realisation" %}{{ tag }}{% endif %}
          {% endfor %}
        </p>
      {% endif %}
    </div>

    {% if mainImg %}
      <div class="realisation-main-image">
        {% image mainImg, title %}
      </div>
    {% endif %}

    <div class="realisation-body">
      {{ content }}
    </div>

    {% if testimonial %}
      <div class="realisation-testimonial">
        <div class="testimonial-content">
          {% if testimonial.image %}
            <div class="testimonial-avatar">
              {% image_testimonial testimonial.image, testimonial.author %}
            </div>
          {% endif %}
          <div>
            <blockquote class="testimonial-quote">{{ testimonial.quote }}</blockquote>
            <div class="testimonial-author">
              <div class="testimonial-info">
                <p class="testimonial-name">{{ testimonial.author }}</p>
                {% if testimonial.role %}<p class="testimonial-role">{{ testimonial.role }}</p>{% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if cta %}
      <div class="realisation-cta">
        <a href="{{ cta.link }}" class="cta-button" target="_blank">En savoir plus sur<br>{{ title }}</a>
      </div>
    {% endif %}
  </div>
</div>