<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | Végéto Aquaponie & solutions aquaponiques</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="rgb(185, 198, 189)">
    <meta name="msapplication-navbutton-color" content="rgb(185, 198, 189)">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    {% if seoDescription %}
      {% assign description = seoDescription %}
    {% else %}
      {% assign description = "Entreprise spécialisée dans l'Aquaponie, située entre Soissons et Compiègne. Formations, études, réalisations et installations de kits sur-mesure pour professionels et particuliers." %}
    {% endif %}
    <meta name="description" content="{{ description }}">
    {% if noIndex %}
      <meta name="robots" content="noindex, nofollow">
      <meta name="googlebot" content="noindex, nofollow">
    {% endif %}

    <meta property="og:title" content="{{ title }} | Végéto Aquaponie">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.vegeto-aquaponie.fr{{ page.url }}">
    <meta property="og:description" content="{{ description }}">

    {% if mainImg %}
      <meta property="og:image" content="https://www.vegeto-aquaponie.fr{{ mainImg }}">
      <meta property="og:image:width" content="800" />
      <meta property="og:image:height" content="600" />
    {% else %}
      <meta property="og:image" content="https://www.vegeto-aquaponie.fr/assets/logo-og.png">
      <meta property="og:image:width" content="400" />
      <meta property="og:image:height" content="400" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }} | Végéto Aquaponie">
    <meta name="twitter:description" content="{{ description }}">
    {% if mainImg %}
      <meta name="twitter:image" content="https://www.vegeto-aquaponie.fr{{ mainImg }}">
    {% else %}
      <meta name="twitter:image" content="https://www.vegeto-aquaponie.fr/assets/logo-og.png">
    {% endif %}

    <link rel="stylesheet" href="/assets/lib/style.css">
    <link rel="stylesheet" href="/assets/lib/fonts.css">
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="canonical" href="https://www.vegeto-aquaponie.fr{{ page.url }}" />
  </head>
  <body>
    {% include header %}

    <main class="main" role="main">
      <div class="container">
        <div class="content static-page">
          <div class="static-page-intro">
            <h1>{{ title }}</h1>
            {% if lead %}<p>{{ lead }}</p>{% endif %}
          </div>
          <div class="static-page-body">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    {% include footer %}
  </body>
</html>
